body{
    background-image: url('../img/lulotec/Mesa\ de\ trabajo\ 8-100.jpg');    
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Open Sans', sans-serif;
    overflow-x: hidden;
    
}
.header{
    display: flex;
    justify-content: space-between;
}
.icon{
    margin-top: 10px;
    height: 100px;
}
.idu{
    margin-left: 100px;
}

.container__text{    
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;    
    
    height: 460px;
}
.title{
    color: #EB5A27;
    font-size: 30px;
    font-weight: bold;
    margin-left: 120px;
}
.text{    
    font-size: 20px;
    margin-left: 120px;
    font-weight: bold;
    color:#6D6E71;
    text-align: justify;
}
.notes{
    margin-left: 120px;
    font-size: 35px;
    font-weight: bold;
    color:#6D6E71;    
}
/* 
#6D6E71
Fuente helveltica
 */
 @media only screen and (max-width: 2000px){
    .icon {
        margin: 10px 200px;
    }
    .container__text{
        height: 700px;
    }
    .title, .text, .notes{
        margin-left: 200px;
    }
    .title{
        font-size: 36px;              
    }
    .text{
        font-size: 24px;
    }
    .notes{
        font-size: 31px;
        margin-bottom: 150px;
    }

 }
 @media only screen and (max-width: 1700px){
    .container__text{
        height: 450px;
    }
    .idu{
        margin: 10px 0px 10px 120px;
    }
    .title, .text, .notes{        
        margin-left: 120px;
    }
    .lulo{
        margin: 10px auto;
    }
    .icon{
        height: 80px;
    }
    .title{
        font-size: 30px;
    }
    .text{
        font-size: 20px;
    }
    .notes{
        font-size: 31px;
        margin-bottom: 0px;
    }
}
@media only screen and (max-width: 834px){
    body{
        background-image: url('../img/lulotec/copia.jpg');
    }
    .space{
        display: none;
    }
    .icon{
        margin: 40px;
    }
    .col-sm-8{
        width: 100%;
    }
    .title, .notes{
        text-align: center;
    }
}
 @media only screen and (max-width: 768px){
    body{
        background-image: url('../img/lulotec/copia.jpg');
        
        background-size: cover;
    }
    .container__text{
        height: 400px;
    }
    .icon{
        height: 80px;
        margin: 30px;
    }
    .title{
        font-size: 20px;
        text-align: center;
    }
    .text{
        font-size: 15px;
    }
    .notes{
        font-size: 25px;
        text-align: center;
    }    
    .col-sm-8{
        width: 100%;
    }

 }
 @media only screen and (max-width: 550px){     
     .icon{
         margin-left: 30px;
         height: 40px;         
     }
     .container__text{
         display: flex;
         flex-direction: column;
         align-items: center;
         width: 90%;
         margin: 10px auto;
     }
     .title, .text ,.notes{
         margin:0px;
     }
     
 }
 @media only screen and (max-width: 400px){     
     .icon{
         margin: 10px 40px;
         height: 30px;
     }
     .container__text{
        height: 350px;
    }
     .title, .notes{
         text-align: center;
     }
    .title{
        font-size: 13px;
    }
    .text{
        font-size: 10px; 
        text-align: justify;
        padding: 10px;
    }
    .notes{
        font-size: 16px;
        margin-bottom: 40px;
        padding: 10px;
    }
    .space{
        display: none;
    }
 }
 @media only screen and (max-width: 330px){
    .notes{
        margin-bottom: 50px;
    }
 }