.collapse-item,.sidebar .nav-item .collapsing .collapse-inner .collapse-item{
    padding:.5rem 1rem;margin:0 .5rem;display:block;color:#3a3b45;
    text-decoration:none;border-radius:.35rem;
    white-space:nowrap
}

.sidebar .nav-item .collapsing .collapse-inner .collapse-item:hover{
    background-color:#eaecf4;
    
}
.sidebar .nav-item .collapse .collapse-inner .collapse-item:active,.sidebar 
.nav-item .collapsing .collapse-inner .collapse-item:active{
    background-color:#dddfeb
}
.sidebar .nav-item .collapse .collapse-inner .collapse-item.active,
.sidebar .nav-item .collapsing .collapse-inner .collapse-item.active{
    color:#4e73df;font-weight:700;
    
}
/*  */
.invalid-feedback{
    display:none;width:100%;margin-top:.25rem;font-size:80%;color:#e74a3b
}
.invalid-tooltip{
    position:absolute;top:100%;z-index:5;display:none;max-width:100%;
    padding:.25rem .5rem;margin-top:.1rem;font-size:.875rem;line-height:1.5;
    color:#fff;background-color:rgba(231,74,59,.9);
    border-radius:.35rem
}
.form-control.is-invalid,.was-validated .form-control:invalid{
    border-color:#e74a3b;padding-right:calc(1.5em + .75rem);
    background-image:url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='%23e74a3b' viewBox='-2 -2 7 7'%3e%3cpath stroke='%23e74a3b' d='M0 0l3 3m0-3L0 3'/%3e%3ccircle r='.5'/%3e%3ccircle cx='3' r='.5'/%3e%3ccircle cy='3' r='.5'/%3e%3ccircle cx='3' cy='3' r='.5'/%3e%3c/svg%3E");
    background-repeat:no-repeat;
    background-position:center right calc(.375em + .1875rem);
    background-size:calc(.75em + .375rem) calc(.75em + .375rem)
}
.form-control.is-invalid:focus,.was-validated .form-control:invalid:focus{
    border-color:#e74a3b;box-shadow:0 0 0 .2rem rgba(231,74,59,.25)
}
.form-control.is-invalid~.invalid-feedback,
.form-control.is-invalid~.invalid-tooltip,
.was-validated .form-control:invalid~.invalid-feedback,
.was-validated .form-control:invalid~.invalid-tooltip{
    display:block
}
.was-validated textarea.form-control:invalid,textarea.form-control.is-invalid{
    padding-right:calc(1.5em + .75rem);
    background-position:top calc(.375em + .1875rem) right calc(.375em + .1875rem)
}
.custom-select.is-invalid,.was-validated .custom-select:invalid{
    border-color:#e74a3b;padding-right:calc((1em + .75rem) * 3 / 4 + 1.75rem);
    background:url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 4 5'%3e%3cpath fill='%235a5c69' d='M2 0L0 2h4zm0 5L0 3h4z'/%3e%3c/svg%3e") no-repeat right .75rem center/8px 10px,url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='%23e74a3b' viewBox='-2 -2 7 7'%3e%3cpath stroke='%23e74a3b' d='M0 0l3 3m0-3L0 3'/%3e%3ccircle r='.5'/%3e%3ccircle cx='3' r='.5'/%3e%3ccircle cy='3' r='.5'/%3e%3ccircle cx='3' cy='3' r='.5'/%3e%3c/svg%3E") #fff no-repeat center right 1.75rem/calc(.75em + .375rem) calc(.75em + .375rem)
}
.custom-select.is-invalid:focus,.was-validated .custom-select:invalid:focus{
    border-color:#e74a3b;box-shadow:0 0 0 .2rem rgba(231,74,59,.25)
}
.custom-select.is-invalid~.invalid-feedback,.custom-select.is-invalid~
.invalid-tooltip,.was-validated .custom-select:invalid~.invalid-feedback,
.was-validated .custom-select:invalid~.invalid-tooltip{
    display:block
}
.form-control-file.is-invalid~.invalid-feedback,.form-control-file.is-invalid~
.invalid-tooltip,.was-validated .form-control-file:invalid~.invalid-feedback,
.was-validated .form-control-file:invalid~.invalid-tooltip{
    display:block
}
.form-check-input.is-invalid~.form-check-label,.was-validated 
.form-check-input:invalid~.form-check-label{
    color:#e74a3b
}
.form-check-input.is-invalid~.invalid-feedback,
.form-check-input.is-invalid~.invalid-tooltip,.was-validated 
.form-check-input:invalid~.invalid-feedback,.was-validated 
.form-check-input:invalid~.invalid-tooltip{
    display:block
}.custom-control-input.is-invalid~.custom-control-label,
.was-validated .custom-control-input:invalid~.custom-control-label{
    color:#e74a3b
}
.custom-control-input.is-invalid~
.custom-control-label::before,.was-validated 
.custom-control-input:invalid~.custom-control-label::before{
    border-color:#e74a3b
}
.custom-control-input.is-invalid~.invalid-feedback,
.custom-control-input.is-invalid~.invalid-tooltip,
.was-validated .custom-control-input:invalid~.invalid-feedback,
.was-validated .custom-control-input:invalid~.invalid-tooltip{
    display:block
}
.custom-control-input.is-invalid:checked~.custom-control-label::before,
.was-validated .custom-control-input:invalid:checked~
.custom-control-label::before{
    border-color:#ed7468;background-color:#ed7468
}
.custom-control-input.is-invalid:focus~
.custom-control-label::before,.was-validated 
.custom-control-input:invalid:focus~.custom-control-label::before{
    box-shadow:0 0 0 .2rem rgba(231,74,59,.25)
}
.custom-control-input.is-invalid:focus:not(:checked)~
.custom-control-label::before,.was-validated 
.custom-control-input:invalid:focus:not(:checked)~
.custom-control-label::before{
    border-color:#e74a3b
}
.custom-file-input.is-invalid~.custom-file-label,
.was-validated .custom-file-input:invalid~.custom-file-label{
    border-color:#e74a3b
}
.custom-file-input.is-invalid~.invalid-feedback,
.custom-file-input.is-invalid~.invalid-tooltip,
.was-validated .custom-file-input:invalid~.invalid-feedback,
.was-validated .custom-file-input:invalid~.invalid-tooltip{
    display:block
}
.custom-file-input.is-invalid:focus~.custom-file-label,
.was-validated .custom-file-input:invalid:focus~.custom-file-label{
    border-color:#e74a3b;box-shadow:0 0 0 .2rem rgba(231,74,59,.25)
}
.form-inline{
    display:flex;flex-flow:row wrap;align-items:center
}
.form-inline .form-check{
    width:100%
}
.form-group{
    padding: 20px;
}
footer{
    position:fixed;
    bottom: 0px;
    left: 0px;
    width: 100%;
    height: 50px;
}
/*  */
.dropdown-item{
    display:block;
    width:100%;padding:.25rem 1.5rem;clear:both;
    font-weight:400;
    color:#3a3b45;
    text-align:inherit;
    white-space:nowrap;
    background-color:transparent;
    border:0
}
.dropdown-item:focus,.dropdown-item:hover{    
    text-decoration:none;
    background-color: rgb(231, 237, 246) !important;
    color: #33a8ef;
}
.dropdown-item.active,.dropdown-item:active{color:#fff;text-decoration:none;background-color:#ccc}
.dropdown-item.disabled,.dropdown-item:disabled{color:#858796;pointer-events:none;background-color:transparent}
.dropdown-menu.show{
    margin-top: 30px;
    display:block
}
.dropdown-header{display:block;padding:.5rem 1.5rem;margin-bottom:0;font-size:.875rem;color:#858796;
    white-space:nowrap}
    .dropdown-item-text{
        display:block;
        padding:.25rem 1.5rem;color:#3a3b45}
/*  */
.collapse{
    background-color: white;
}
.menu-panel, .d{
    color: #337ab7;
    background-color: white;
    border-top: 1px rgba(0,0,0,.3) solid;
}
.menu-panel:hover{
    background-color: transparent;    
    color: #33a8ef;
    text-decoration: none;
}
.d:hover{
    background-color: transparent;
    color: #33a8ef;
}
.item-hidden{
    display: none;
}
@media only screen and (max-width: 450px){
    .form-control{
        width: 100%;
    }
    .form-group{
        padding: 0px;
    }
    .header__img{
        height: 90px;
    }
    .header__menu--profile img{
        width: 30px;
    }
}
