body{
    font-family: 'roboto light', medium, bold;    
}
.box{        
    padding: 20px;    
    background-color: rgb(234, 234, 234);
    margin: 20px 50px;
    border-radius: 5px;
    border: 2px solid rgb(122, 176, 240);
}
.img{
    width: 80%;    
}
strong{
    color: rgb(0, 123, 253);
    font-size: 30px;
}
h3{
    font-size: 30px;
    font-weight: bold;
    color: rgb(70, 90, 96);
}

.hola{
    font-size: 40px;
    color: rgb(0, 123, 253);
}
.icon{    
    width: 400px;
    margin-right: 400px;
    padding: 15px 20px;
}

@media only screen and (max-width: 570px) {
    .centerImg {
      display: none;
    }
  }
  @media only screen and (max-width: 985px) {
    .box {
      width: 354px;
    }
    .centerImg {
        display: none;
      }
  }