body{
    font-family: 'Roboto', sans-serif;
    overflow-x: hidden;
}
.box{        
    padding: 20px;    
    background-color: rgb(234, 234, 234);
    margin: 20px 50px;
    border-radius: 5px;
    border: 2px solid rgb(122, 176, 240);
    box-shadow: 3px 3px 3px 3px #666666;
}

.box:hover{
    background-color: rgb(220, 220, 220);
    
}
.img{
    width: 80%;    
}
strong{
    color: rgb(0, 123, 253);
    font-size: 30px;
}
h3{
    font-size: 30px;
    font-weight: bold;
    color: rgb(70, 90, 96);
}

.hola{
    font-size: 40px;
    color: rgb(69, 158, 209);
}
.icon{    
    width: 400px;
    margin-right: 400px;
    padding: 15px 20px;
}
.row{
    margin-top: 70px;
}

@media only screen and (max-width: 570px) {
    .centerImg {
      display: none;
    }
    .icon{
    width: 90%;
    }
  }
  @media only screen and (max-width: 985px) {
    .box {
      width: 80%;
    }      
    .centerImg {
        display: none;
      }
  }
  @media only screen and (max-width: 500px) {    
      .img{
          width: 80%;
      }
      .col-sm{
         padding-right: 20px;
      }
      .hola{
          width: 80%;                    
          font-size: 30px;
          margin-bottom: 5px;

      }
    .box{
        width: 70%;
        padding: 0px;        
      }
      .row{
          margin-top: 1px;
      }
      .icon{
          width: 60%;
      }
      .container{
          height: 50px;
      }
    }
