body{
    font-family: 'Roboto', sans-serif;  
    background-image: url('../img/Fondo-2.jpg');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;    
    overflow-y:hidden!important;
    overflow-x:hidden!important;
}

.box{        
    padding: 20px;    
    background-color: rgb(234, 234, 234);
    margin: 20px 50px;
    border-radius: 5px;
    border: 2px solid #33a8ef;
    box-shadow: 3px 3px 3px 3px #666666;
}

.box:hover{
    background-color: rgb(210, 210, 210);
    
}
.img{
    width: 80%;    
}
strong{
    color: rgb(0, 123, 253);
    font-size: 30px;
}
h3{
    font-size: 30px;
    font-weight: bold;
    color: rgb(70, 90, 96);
}

.description{
    font-size: 40px;
    color: rgb(69, 158, 209);
}
.icon{    
    width: 400px;
    margin-right: 400px;
    padding: 15px 20px;
}
.row{
    margin-top: 70px;
}
.space{
    height: 80px;
}
@media only screen and (max-width: 550px) and (max-height: 1170px){
    body{
        background-image: none;
        overflow: hidden;
    }
    .icon{
        width: 250px; 
        margin: 0px;            
    }
    .description{
        font-size: 20px;
    }
    .space{
        height: 0px;
    }
    .row{
        margin-top: 10px;
        max-height: 400px;
    }
    .centerImg{
        display: none;
    }
    .box{
        margin: 10px;
    }
    .line{
        margin-bottom: 30px;
        margin-top: 20px;
    }

}
@media only screen and (max-width: 1100px) and (max-height: 1170px){
    .description{
        font-size: 25px;
    }
    .centerImg{
        display: none;
    }
    .container{
        max-width: 820px;
    }
    .row{
        margin-top: 20px 0px;
    }
    .box{
        margin: 0px 10px;
    }
}
@media only screen and (max-width: 1920px) and (max-height: 1170px){
    .description{
        font-size: 30px;
    }
    .container{
        max-width: 1740px;
    }
}
@media only screen and (max-width: 330px) and (max-height: 1170px){
    .description{
        font-size: 20px;
        margin-bottom: 20px;
        margin-top: 20px;
    }
    .line{
        margin-bottom: 50px;
    }
}
/* @media only screen and (max-width: 2000px) {
    .container{
        margin-top: -2%;
        margin-left: 3%;
    }
}
@media only screen and (max-width: 985px) {
    .box {
      width: 80%;
    }      
    .centerImg {
        display: none;
      }
  }
@media only screen and (max-width: 570px) {
.centerImg {
    display: none;
}
.icon{
width: 60%;
margin-left: 25%;
}
.space{
    height: 40px;
}
.description{
    font-size: 20px;
}
.row{
    margin-top: 2%;
}
}
@media only screen and (max-width: 500px) {    
    .img{
        width: 80%;
    }
    .col-sm{
        padding-right: 20px;
    }
    .description{
        width: 80%;                    
        font-size: 30px;
        margin-bottom: 5px;

    }
    .box{
    width: 70%;
    padding: 0px;        
    }
    .row{
        margin-top: 1px;
    }
    .icon{
    width: 70%;
    margin-left: 50px;
    margin-top: 20px;
    }
    .container{
        height: 50px;
    }
    .space{
        height: 40px;
    }
    .description{
        margin-bottom: 20px;
    }
}
@media only screen and (max-width: 370px) {
body{    
    background-image: none;
    overflow: hidden;
}
.box{
    width: 80%;
    margin-left: 20px;                       
}

.space{
    height: 20px;
}
.description{
    margin-left: -30px;
    margin-bottom: 30px;
    font-size: 20px;
}

}
 */