body{
    font-family: 'Roboto', sans-serif;  
    background-image:     
    url("../img/Fondo-3.jpg");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    overflow-x: hidden;
    overflow-y: hidden;
}
.box{    
    padding: 20px;        
    margin: 20px 50px;
    border-radius: 5px;
    border: 2px solid rgb(122, 176, 240);
    background-color: white;
    box-shadow: 3px 3px 3px 3px #666666;    
}
.box1{
    background-image: ('/src/img/es.png');
}
.box2{
    background-image: ('/src/img/Estudiante.png');
}

.img{
    width: 80%;
    height: auto;
}
.img2{
    width: 85%;    
}
strong{
    color: rgb(0, 123, 253);
    font-size: 30px;
}
h3{
    font-size: 30px;
    font-weight: bold;
    color: rgb(70, 90, 96);
}

.hola{
    font-size: 40px;
    color: rgb(69, 158, 209);
}
.icon{    
    width: 400px;
    margin-right: 400px;
    padding: 15px 20px;
}
.row{
    margin-top: 60px;
}
.box:hover{
    background-color: rgb(221, 212, 212);
    cursor: pointer;
}
@media only screen and (max-width: 1920px) and (max-height: 1080px){   
    
   .box{
       width: 85%;       
       margin: 5px 30px;
   }   
   
   .colegio{
       font-size: 25px;
   }
   .title{
       font-size: 25px;
   }
   .container {
    max-width: 1300px;
}
}
@media only screen and (max-width: 550px) and (max-height: 1170px){
    .icon{
        width: 250px; 
        margin: 0px;            
    }
}


@media only screen and (max-width: 570px) and (max-height: 600px){
    body{
        overflow: hidden;
    }
    .centerImg {
      display: none;
    }
    .icon{
    width: 90%;
    margin-left: 10%;       
    }
    .img{
        padding: 5px;        
    }
    .line{
        width: 100%;
        margin: 20px 10px 5px 10px;
        height: 200px;
    }
    /* .title{
        font-size: 20px;
    }
    .colegio{
        font-size: 15px;
    } */
    .estudiante{
        margin-bottom: 5px;
        font-size: 15px;
    }
    
    .img2{
        width: 70%;
        margin-top: -10px;
    }
 }

 @media only screen and (max-width: 420px) and (max-height: 1200px){
    body{
        background-image: none;
    }
    header {
        margin: 0px;
        display: flex;
        justify-content: center;
    }
    
    .container{
        margin: 0px;
    }
    .img{
        width: 80%;
    }
    .row{
        margin: 0px;
    }    
    .box{
        margin-bottom: 30px;
    }
    
}

@media only screen and (max-width: 360px) and (max-height: 1200px){
    
    
    .box{
        margin: 20px 0px 20px 0px;
        width: 70%;
        height: auto;
    }
    
    .img2{
        margin: 0px;
    }
    .estudiante{
        font-size: 25px;
    }

}
@media only screen and (max-width: 360px) and (max-height: 600px){    
    .icon{
        margin:0px;
    }
}
 @media only screen and (max-width: 360px) and (max-height: 550px){
    header{
        height: 60px;
    }
    .icon{        
        margin-bottom: 0px;
    }
    .box{
        margin: 20px 0px 2px 0px;
        width: 70%;
        height: auto;
    }
    .colegio{
        font-size: 14px;
    }
    .img2{
        margin: 0px;
    }

}

