header{
    display: flex;
    justify-content: center;
}
body{
    font-family: 'Roboto', sans-serif;  
    background-image:     
    url("../img/student-college/Colegio.jpg");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    overflow-x: hidden;
    overflow-y: hidden;
}
.box{        
    margin: 0px;
    border-radius: 5px;
    border: 0px solid rgb(122, 176, 240);
    background-color: white;
    box-shadow: 3px 3px 3px 3px #666666;    
}
.box1{
    background-image: ('/src/img/es.png');
}
.box2{
    background-image: ('/src/img/Estudiante.png');
}

.img{
    width: 80%;
    height: auto;
}
.img2{
    width: 85%;    
}
strong{
    color: rgb(0, 123, 253);
    font-size: 30px;
}
h3{
    font-size: 30px;
    font-weight: bold;
    color: rgb(70, 90, 96);
}

.hola{
    font-size: 40px;
    color: rgb(69, 158, 209);
}
.icon{    
    margin: 60px 0px;
    
}
.row{
    margin-top: 60px;
}
.box:hover{
    background-color: rgb(221, 212, 212);
    cursor: pointer;
}
.title{
    width: 100%;    
}
.estudiante{
    color: white;
    background-color: rgb(1, 136, 204);    
}
.colegio{
    background-color: rgb(1, 130, 234);
}
@media only screen and (max-width: 1920px) and (max-height: 1080px){
    .box{
       width: 75%;       
       padding: 0px;       
   }   
    header{
        margin-bottom: 20px;
    }
    .container{        
        max-width: 1500px;
        margin-top: 230px;
    }
    .estudiante{
        font-size: 45px;
        color: white;
        height: 71px;
        padding-top: 5px;
    }
    .colegio{
        font-size: 45px;
        color: white;
        height: 71px;
        padding-top: 5px;
    }
    .row{
        margin: 0px;
        width: 100%;
    }
    .container{
        padding:0px;
    }
    .icon {
        margin: 30px 0px 0px 0px;
        height: 250px;
    }    
    
}
    
@media only screen and (max-width: 1800px) and (max-height: 1080px){       
    .container{
        margin-top: 200px;
    }
   
   
}
@media only screen and (max-width: 1800px) and (max-height: 1200px){
    header{
        background:url('../img/student-college/Colegio-other.jpg') no-repeat center center fixed;
        background-size:cover;
        height:150px;
        width: 100%;
        display: flex;
        justify-content: center;
    }
    body{        
        overflow: hidden;
        background-image: none;
    }
    .icon{
        height: 120px;
        margin: 0px;
    }
    
    .box{
        width: 70%;
    }
    .estudiante, .colegio{
        font-size: 25px;
        height: 50px;
    }
    .estudiante{
        padding-top: 5px;
    }
    .container{
        margin-top: 220px;
    }

}
@media only screen and (max-width: 1300px) and (max-height: 900px){
 .icon{     
     margin-top: 15px;
     height: 120px;
 }
 .container{
     margin-top: 5%;
 }
}
@media only screen and (max-width: 570px) and (max-height: 1200px){
    header{
        background:url('../img/student-college/Colegio-other.jpg') no-repeat center center fixed;
        background-size:cover;
        height:100px;
        width: 100%;
        display: flex;
        justify-content: center;
        }
    body{        
        overflow: hidden;
        background-image: none;
    }    
    .icon{   
        margin: 10px 0px;
        padding: 0px;
        height: 70px;
        
    }
    .img{
        padding: 5px;        
    }
    
    .estudiante, .colegio{
        color: white;
        margin-bottom: 5px;
        font-size: 30px;
        height: auto;
    }    
    .container{
        margin-top: 0px;
    }
    .box{
        width: 80%;
        height: auto;
        margin: 20px 0px;
    }
 }

 
@media only screen and (max-width: 400px) and (max-height: 1200px){
    .icon {
        height: 50px;
        margin-top: 20px;
    }
    .estudiante, .colegio{
        font-size: 20px;
    }
    
}

@media only screen and (max-width: 360px) and (max-height: 1200px){
    .box{
        margin: 20px 0px 20px 0px;
        width: 70%;
        height: auto;
    }
    .img2{
        margin: 0px;
    }
    .estudiante, .colegio{
        font-size: 20px;
    }
}
@media only screen and (max-width: 360px) and (max-height: 600px){    
    header{
        margin-bottom: 0px;
    }
    .icon{        
        margin:20px 0px;
    
    }
    .container{
        margin-top: 10px;
    }
}
 @media only screen and (max-width: 360px) and (max-height: 1000px){
    header{
        height: 60px;
    }
    .icon{
        height: 45px;
        padding: 0px;
        margin: 5px 0px;
    }
    
    .box{
        margin: 20px 0px 2px 0px;
        width: 70%;
        height: auto;
    }
    .colegio, .estudiante{
        font-size: 16px;
    }
    .img2{
        margin: 0px;
    }
    .container{
        margin-top: 0px;
    }
}

