body{
    font-family: 'roboto light', medium, bold;    
    background-image:     
    url("../img/laptop-1149412_1920.jpg");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.input--color{
    background-color: #eaf1f9;
}
a{
    color: #097df9;
}
/* products */
