body{
    font-family: 'Roboto', sans-serif;  
    /* background-color: rgb(77, 76 , 75); */
    /* background-image: url('../img/Login\ -\ copia.jpg');
    background-size: cover;
    
    background-repeat: no-repeat;
    background-attachment: fixed;
    overflow: hidden;
    height: 100%; */
}

.fondo{    
    width: 100%;    
}
.input--color{
    background-color: #eaf1f9;
}
a{
    color: #097df9;
}

.card{    
        
    border: 0px solid white;    

}

.icon{    
    width: 400px;
    padding: 20px 20px;
    
}
.spaceIcon{
    height: 280px;
}
.space{
    height: 15px;
}
::placeholder{
    text-align: center;
}
.container{
    margin: 0px;
    padding: 0px;
}
.title{
    margin-top: 80px;
}
.col-sm{
    margin: 0px;
    padding: 0px;
}
.description{
    font-size: 20px;
    color: rgb(147, 152, 157);
    padding-bottom: 30px;
}
.forget{
    margin-top: 40px;
}
.key{
    width: 20px;
}
.row{
    height: inherit;
}
.col-xl-5{
    height:100%;
    width: 60%;    
}
.flags{
    width: 80%;
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
}
.flag{
    width: 40px;
    
}

@media only screen and (max-width: 500px) {
    body{
        overflow: hidden;
    }
    .sp{
        margin-top: -40px;
    }
    .icon{
        width: 90%;
        padding: 5px 30px;
        
        margin-bottom: 10px;
    }
    .card{
        margin: 10px;
    }
}

/* @media only screen and (max-width: 1039px) {    
    .fondo{
        margin-top: 90px;
    }    
  }
 */  