body{
    font-family: 'Roboto', sans-serif;    
    /* background-image: url('../img/Nueva-3.jpg');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;     */
    overflow-y:hidden!important;
    overflow-x:hidden!important;   
}
::selection {
    background: none;
}
.box1, .box2, .box3{
    width: 300px;    
    height: 150px;    
    margin: 30px 10px;
    padding: 15px;
    border-radius: 15px;
    /* border: 2px solid rgb(122, 176, 240); */
    background-image: url('../img/Boton-1.png');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    /* background-color: rgb(16, 147, 136); */
    cursor: pointer;
}
.box3{
    margin-top: -25px;
}
.img{
    width: 80%;    
}
h3{
    font-size: 30px;
    font-weight: bold;
    color: rgb(70, 90, 96);
}
.hola{
    font-size: 40px;
    color: rgb(0, 123, 253);
}


.move{
    margin-left: 200px;
    margin-top: -50px;
}
.col-sm{
    width: 400px;
}
.animation{
    display: flex;
    align-items: center; 
    justify-content: center;
    font-size: 30px;
    font-weight: bold;
    color: white;    
}
.animation:hover{
    /* background-color:rgb(134 , 231, 238) ; */
    width: 305px;
    height: 155px;
}
/* .container{
    display: flex;
    align-items: center;  
    justify-content: space-between;
} */
.s{
    height: 120px;
}
.new{
    width: 60px;      
    margin-left: 350px;
    margin-top: -50px;
}
.row{
    margin: 0px;
}






@media only screen and (max-width: 1920px) and (max-height: 1170px){
    .icon{
        height: 130px;
        margin: 30px 0px 0px 50px;
    }
    .container {
        margin: 60px 0px;
        max-width: 1800px;
    }
    .row{
        width: 100%;
    }
    
    
    .box1,.box2, .box3{
        width: 60%;        
    }
    .new{
        margin-left: 70%;
    }
    .c-view{
        margin-top: -80px;
    }
    .animation:hover{
        width: 63%;
    }
    .space2{
        height: 20px;
    }
    .nueva{
        margin: 60px 0px 0px 10px;
        width: 90%;
    }
    
}
@media only screen and (max-width: 1600px) and (max-height: 1170px){
    .container {
        
        max-width: 1800px;
    }
    .row{
        width: 100%;
    }
    .view{
        margin-left: -150px;
    }
    .box1,.box2, .box3{
        width: 70%;
        
    }
    .new{
        margin-left: 70%;
    }
    .c-view{
        margin-top: 80px;
    }
    .animation:hover{
        width: 71%;
    }
    
}
@media only screen and (max-width: 1100px) and (max-height: 1170px){
    .c-view, .view{
        width: 550px;        
        max-width: 700px;
    }
    .animation{
        width: 200px;
    }
    
    .animation:hover{
        width: 81%;
        height: 101px;
        background-color: none;
    }
    .box1, .box2, .box3{
        width: 80%;
        height: 100px;
        font-size: 18px;
        padding: 10px;
        margin: 0px;        
    }
}
@media only screen and (max-width: 880px) and (max-height: 1170px){
    .c-view, .view{
     display: none; 
    }
    
    .space{
        height: 20px;
    }
}
@media only screen and (max-width: 550px) and (max-height: 1170px){
    body{
        background-image: none;
    }
    .icon{
        width: 60%;
        margin: 0px;
        margin-left: 20%;
        padding: 10px;
        margin-top: 20px;
        margin-bottom: 20px;
    }
    .c-view, .view{
        display: none;
    }
    .box1, .box2, .box3{
        width: 80%;
        height: 100px;
        font-size: 18px;
        padding: 10px;
        margin: 0px;        
    }
    .box3{
        padding-top: 1px;
        padding-bottom: 1px;
    }    
    .col-sm{
        width: 100%;
        padding: 0px;
    }
    .new{        
        margin: 0px;
        margin-left: 80%;
    }
    .space{
        height: 60px;
    }
    .animation:hover{
        width: 81%;
        height: 101px;
        background-color: none;
    }
}
@media only screen and (max-width: 360px) and (max-height: 700px){
    header{
        display: flex;
        justify-content: center;
    }
    .icon{
        margin: 0px;
    }
    .c-view, .view{
        display: none;
    }
    .box1, .box2, .box3{
        width: 80%;
        height: 90px;
        font-size: 18px;
        padding: 10px;
        margin: 0px;
    }
    .box3{
        padding-top: 1px;
        padding-bottom: 1px;
    }
    .animation:hover{
        width: 205px;
        height: 95px;
    }
    .col-sm{
        width: 100%;
        padding: 0px;
    }
    .new{
        width: 25px;
        margin: 0px;
        margin-left: 70%;
    }
    .space{
        height: 20px;
    }
    .col-sm{
        width: 100%;
    }
    .container{
        margin: 0px;
        max-width: 360px;
    }
    .row{
        margin: 0px;
    }
}
@media only screen and (max-width: 360px) and (max-height: 500px){
    
    .c-view, .view{
        display: none;
    }
    .box1, .box2, .box3{
        width: 200px;
        height: 90px;
        font-size: 18px;
        padding: 10px;
        margin: 0px;
    }
    .box3{
        padding-top: 1px;
        padding-bottom: 1px;
    }
    .animation:hover{
        width: 212px;
        height: 100px;        
    }
    .col-sm{
        width: 100%;
        padding: 0px;
    }
    .new{
        width: 40px;
        margin: 0px;
        margin-left: 70%;
    }
    .space{
        height: 40px;
    }
}